img[src="/steaminputglyphs/ps_button_x.svg"],
img[src="/steaminputglyphs/shared_color_button_a.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/a.svg");
}

img[src="/steaminputglyphs/ps_button_circle.svg"],
img[src="/steaminputglyphs/shared_color_button_b.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/b.svg");
}

img[src="/steaminputglyphs/ps_button_square.svg"],
img[src="/steaminputglyphs/shared_color_button_x.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/x.svg");
}

img[src="/steaminputglyphs/ps_button_triangle.svg"],
img[src="/steaminputglyphs/shared_color_button_y.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/y.svg");
}
