/* Hide back buttons that don't exist on the device */
._1KA4m3xP2X5TGmO81UKYgL._3eORnJNDqWC-fDQP-iI5yt:has(img[src="/steaminputglyphs/ps_lb.svg"]),
._1KA4m3xP2X5TGmO81UKYgL._3eORnJNDqWC-fDQP-iI5yt:has(img[src="/steaminputglyphs/xbox_p4.svg"]),
._1KA4m3xP2X5TGmO81UKYgL._11obaBOM-w3f1pVTV_kb-G:has(img[src="/steaminputglyphs/ps_rb.svg"]),
._1KA4m3xP2X5TGmO81UKYgL._11obaBOM-w3f1pVTV_kb-G:has(img[src="/steaminputglyphs/xbox_p2.svg"]),
._1KA4m3xP2X5TGmO81UKYgL._30sIRI3p5gOFrdUD9wUeW2:has(img[src="/steaminputglyphs/hp_m1.svg"]),
._1KA4m3xP2X5TGmO81UKYgL._2VVUWQlnM4AYMoylu5Ajr:has(img[src="/steaminputglyphs/hp_m2.svg"]) {
    display: none;
}

div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding-0"]:has(img[src="/steaminputglyphs/ps_lb.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding--1"]:has(img[src="/steaminputglyphs/ps_lb.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding-0"]:has(img[src="/steaminputglyphs/ps_lb.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding--1"]:has(img[src="/steaminputglyphs/ps_lb.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding-0"]:has(img[src="/steaminputglyphs/ps_rb.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding--1"]:has(img[src="/steaminputglyphs/ps_rb.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding-0"]:has(img[src="/steaminputglyphs/ps_rb.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding--1"]:has(img[src="/steaminputglyphs/ps_rb.svg"]) * {
    display: none;
}

div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding-0"]:has(img[src="/steaminputglyphs/xbox_p4.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding--1"]:has(img[src="/steaminputglyphs/xbox_p4.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding-0"]:has(img[src="/steaminputglyphs/xbox_p4.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 55 )-binding--1"]:has(img[src="/steaminputglyphs/xbox_p4.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding-0"]:has(img[src="/steaminputglyphs/xbox_p2.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding--1"]:has(img[src="/steaminputglyphs/xbox_p2.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding-0"]:has(img[src="/steaminputglyphs/xbox_p2.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 56 )-binding--1"]:has(img[src="/steaminputglyphs/xbox_p2.svg"]) * {
    display: none;
}

div[id="modeid-7-input-unknown EControllerModeInput ( 57 )-binding-0"]:has(img[src="/steaminputglyphs/hp_m1.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 57 )-binding--1"]:has(img[src="/steaminputglyphs/hp_m1.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 57 )-binding-0"]:has(img[src="/steaminputglyphs/hp_m1.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 57 )-binding--1"]:has(img[src="/steaminputglyphs/hp_m1.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 58 )-binding-0"]:has(img[src="/steaminputglyphs/hp_m2.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 58 )-binding--1"]:has(img[src="/steaminputglyphs/hp_m2.svg"]),
div[id="modeid-7-input-unknown EControllerModeInput ( 58 )-binding-0"]:has(img[src="/steaminputglyphs/hp_m2.svg"]) *,
div[id="modeid-7-input-unknown EControllerModeInput ( 58 )-binding--1"]:has(img[src="/steaminputglyphs/hp_m2.svg"]) * {
    display: none;
}
