:root {
    --controller-image: url("/themes_custom/handheld-controller-glyphs/assets/ayn/loki/controller.svg");
    --controller-left-image: url("/themes_custom/handheld-controller-glyphs/assets/ayn/loki/controller-left.png");
    --controller-right-image: url("/themes_custom/handheld-controller-glyphs/assets/ayn/loki/controller-right.png");

    --button-guide-image: url("/themes_custom/handheld-controller-glyphs/assets/ayn/loki/home.svg");
    --button-view-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/view.svg");
    --button-menu-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/menu.svg");

    --button-l4-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/m1-left.svg");
    --button-r4-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/m2-right.svg");
}
