
/* GUIDE */
img[src="/steaminputglyphs/xbox_button_logo.svg"],
img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/aya/ayaspace.svg");
    transform: scale(1.0);
}

/* View */
img[src="/steaminputglyphs/xbox360_button_select.svg"],
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/View.svg");
    transform: scale(0.96);
}
img[src="/steaminputglyphs/xbox360_button_start.svg"],
img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/Menu.svg");
    transform: scale(0.96);
}

/* Back Buttons */
img[src="/steaminputglyphs/ps_lfn.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/aya/LC.svg");
    transform: scale(1.2);
}
img[src="/steaminputglyphs/ps_rfn.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/aya/RC.svg");
    transform: scale(1.2);
}
