/* Controller Image */
.controller_ps5 .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_ps5_edge .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_generic .controllerconfiguratorsummary_BackgroundController_rlz-U {
    background-image: url(/themes_custom/handheld-controller-glyphs/assets/gpd/WinMini.svg);
}

/* GUIDE */
img[src="/steaminputglyphs/xbox_button_logo.svg"],
img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/WinMini-Menu.svg");
    margin: 0 12px 0 8px;
    transform: scale(2.0);
}

/* Select */
img[src="/steaminputglyphs/xbox360_button_select.svg"],
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/WinMini-Select.svg");
    margin-right: 8px;
    transform: scale(1.65);
}

/* Start */
img[src="/steaminputglyphs/xbox360_button_start.svg"],
img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/WinMini-Start.svg");
    margin-right: 8px;
    transform: scale(1.65);
}

/* Back Buttons */
img[src="/steaminputglyphs/ps_lfn.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/WinMini-L4.svg");
    transform: scale(1.65);
}
img[src="/steaminputglyphs/ps_rfn.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/WinMini-R4.svg");
    transform: scale(1.65);
}

/* D-Pad */
img[src="/steaminputglyphs/shared_dpad_up.svg"],
img[src="/steaminputglyphs/ps_dpad_up.svg"] {
    content: url("/steaminputglyphs/ps_dpad_up.svg");
}
img[src="/steaminputglyphs/shared_dpad_left.svg"],
img[src="/steaminputglyphs/ps_dpad_left.svg"] {
    content: url("/steaminputglyphs/ps_dpad_left.svg");
}
img[src="/steaminputglyphs/shared_dpad_right.svg"],
img[src="/steaminputglyphs/ps_dpad_right.svg"] {
    content: url("/steaminputglyphs/ps_dpad_right.svg");
}
img[src="/steaminputglyphs/shared_dpad_down.svg"],
img[src="/steaminputglyphs/ps_dpad_down.svg"] {
    content: url("/steaminputglyphs/ps_dpad_down.svg");
}
