/* Controller Image */
.controller_ps5 .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_ps5_edge .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_generic .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_xboxelite .controllerconfiguratorsummary_BackgroundController_rlz-U {
    background-image: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Controller.png");
}

/* Controller Image - Steam Hori Controller */
.controller_hori_steam svg {
    display: none;
}
.controller_hori_steam ._3R2kU_aL39-YxgB3TuRgYc {
    background: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Controller.png") center no-repeat;
    background-size: 379px;
}

/* Guide */
img[src="/steaminputglyphs/ps4_button_logo.svg"],
img[src="/steaminputglyphs/sc_button_steam.svg"] {
    content: url("/steaminputglyphs/xbox_button_logo.svg");
}

/* Select */
img[src="/steaminputglyphs/xbox_button_select.svg"],
img[src="/steaminputglyphs/xbox360_button_select.svg"],
img[src="/steaminputglyphs/ps5_button_create.svg"],
img[src="/steaminputglyphs/sd_button_view.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Select.svg");
    width: 30px;
    height: auto;
    margin: 0 8px;
}

/* Start */
img[src="/steaminputglyphs/xbox_button_start.svg"],
img[src="/steaminputglyphs/xbox360_button_start.svg"],
img[src="/steaminputglyphs/ps5_button_options.svg"],
img[src="/steaminputglyphs/sd_button_menu.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Start.svg");
    width: 30px;
    height: auto;
    margin: 0 8px;
}

/* Face Buttons */
img[src="/steaminputglyphs/ps_button_square.svg"],
img[src="/steaminputglyphs/shared_color_button_x.svg"] {
    content: url("/steaminputglyphs/shared_button_x.svg");
}
img[src="/steaminputglyphs/ps_button_triangle.svg"],
img[src="/steaminputglyphs/shared_color_button_y.svg"] {
    content: url("/steaminputglyphs/shared_button_y.svg");
}
img[src="/steaminputglyphs/ps_button_circle.svg"],
img[src="/steaminputglyphs/shared_color_button_b.svg"] {
    content: url("/steaminputglyphs/shared_button_b.svg");
}
img[src="/steaminputglyphs/ps_button_x.svg"],
img[src="/steaminputglyphs/shared_color_button_a.svg"] {
    content: url("/steaminputglyphs/shared_button_a.svg");
}

/* Shoulder Buttons */
img[src="/steaminputglyphs/xbox_rb.svg"],
img[src="/steaminputglyphs/ps5_r1.svg"] {
    content: url("/steaminputglyphs/sd_r1.svg");
}
img[src="/steaminputglyphs/xbox_lb.svg"],
img[src="/steaminputglyphs/ps5_l1.svg"] {
    content: url("/steaminputglyphs/sd_l1.svg");
}
img[src="/steaminputglyphs/xbox_rt.svg"],
img[src="/steaminputglyphs/ps5_r2.svg"] {
    content: url("/steaminputglyphs/sd_r2.svg");
}
img[src="/steaminputglyphs/xbox_lt.svg"],
img[src="/steaminputglyphs/ps5_l2.svg"] {
    content: url("/steaminputglyphs/sd_l2.svg");
}
img[src="/steaminputglyphs/xbox_rt_soft.svg"],
img[src="/steaminputglyphs/ps5_r2_soft.svg"] {
    content: url("/steaminputglyphs/sd_r2_half.svg");
}
img[src="/steaminputglyphs/xbox_lt_soft.svg"],
img[src="/steaminputglyphs/ps5_l2_soft.svg"] {
    content: url("/steaminputglyphs/sd_l2_half.svg");
}

/* Back Buttons */
img[src="/steaminputglyphs/xbox_p3.svg"],
img[src="/steaminputglyphs/ps_lfn.svg"],
img[src="/steaminputglyphs/hp_l4.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/L4.svg");
}
img[src="/steaminputglyphs/xbox_p1.svg"],
img[src="/steaminputglyphs/ps_rfn.svg"],
img[src="/steaminputglyphs/hp_r4.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/R4.svg");
}

/* Hide back buttons that don't exist on the device */
._1KA4m3xP2X5TGmO81UKYgL._30sIRI3p5gOFrdUD9wUeW2,
._1KA4m3xP2X5TGmO81UKYgL._2VVUWQlnM4AYMoylu5Ajr,
div[id="modeid-7-input-unknown EControllerModeInput ( 57 )-binding-0"],
div[id="modeid-7-input-unknown EControllerModeInput ( 57 )-binding-0"] *,
div[id="modeid-7-input-unknown EControllerModeInput ( 58 )-binding-0"],
div[id="modeid-7-input-unknown EControllerModeInput ( 58 )-binding-0"] * {
    display: none;
}

/* Hide Gyro */
._2H5S67B87P-E-gIGLnerOf > .nnOTTmLAJXKRiD2yyn3Zy:nth-child(3),
._2mL2HfT5AkDXRi1YBnRWKa:has(> div > img[src="/steaminputglyphs/shared_gyro.svg"]) {
    display: none
}

/* D-Pad */
img[src="/steaminputglyphs/shared_dpad_up.svg"] {
    content: url("/steaminputglyphs/ps_dpad_up.svg");
}
img[src="/steaminputglyphs/shared_dpad_left.svg"] {
    content: url("/steaminputglyphs/ps_dpad_left.svg");
}
img[src="/steaminputglyphs/shared_dpad_right.svg"] {
    content: url("/steaminputglyphs/ps_dpad_right.svg");
}
img[src="/steaminputglyphs/shared_dpad_down.svg"] {
    content: url("/steaminputglyphs/ps_dpad_down.svg");
}

/* Left Stick */
img[src="/steaminputglyphs/shared_lstick_up.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/L-stick-up.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_lstick_left.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/L-stick-left.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_lstick_down.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/L-stick-down.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_lstick_right.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/L-stick-right.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_l3.svg"] {
    content: url("/steaminputglyphs/shared_lstick_click.svg");
}

/* Right Stick */
img[src="/steaminputglyphs/shared_rstick_up.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/R-stick-up.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_rstick_left.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/R-stick-left.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_rstick_down.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/R-stick-down.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_rstick_right.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/R-stick-right.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_r3.svg"] {
    content: url("/steaminputglyphs/shared_rstick_click.svg");
}

/* Controller Settings */
img[src="/images/steamdeck_right.png"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Controller-right.png");
}
img[src="/images/steamdeck_left.png"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Controller-left.png");
}

/* Lockscreen */
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_lstick_up.svg"],
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_lstick_left.svg"],
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_lstick_right.svg"],
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_lstick_down.svg"],
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_rstick_up.svg"],
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_rstick_left.svg"],
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_rstick_right.svg"],
.lockscreen_NumericButtonOption_2c4Hz img[src="/steaminputglyphs/shared_rstick_down.svg"] {
    margin-left: -14px;
    transform: scale(0.5);
}
