/* Controller Image */
.controller_ps5 .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_ps5_edge .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_generic .controllerconfiguratorsummary_BackgroundController_rlz-U {
    background-image: url("/themes_custom/handheld-controller-glyphs/assets/gpd/Win4.svg");
}

/* GUIDE */
img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/Win4-Menu.svg");
    width: 50px;
    height: auto;
    margin: -80% 8px -80% 0;
}

/* View */
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/buttons/view.svg");
    transform: scale(0.96);
}

/* Menu */
img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/buttons/menu.svg");
    transform: scale(0.96);
}

/* Back Buttons */
img[src="/steaminputglyphs/ps_lfn.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/Win4-L4.svg");
    transform: scale(1.4);
}
img[src="/steaminputglyphs/ps_rfn.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/Win4-R4.svg");
    transform: scale(1.4);
}
