/* GUIDE */
img[src="/steaminputglyphs/xbox_button_logo.svg"],
img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/home.svg");
    transform: scale(1.2);
}

/* Select */
img[src="/steaminputglyphs/xbox360_button_select.svg"],
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/select.svg");
    transform: scale(1.2);
}

/* Start */
img[src="/steaminputglyphs/xbox360_button_start.svg"],
img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/start.svg");
    transform: scale(1.2);
}

/* Back Buttons */
img[src="/steaminputglyphs/ps_lfn.svg"] {
    content: url("/steaminputglyphs/sd_l4.svg");
    transform: scale(1.0);
}
img[src="/steaminputglyphs/ps_rfn.svg"] {
    content: url("/steaminputglyphs/sd_r4.svg");
    transform: scale(1.0);
}

/* D-Pad */
img[src="/steaminputglyphs/shared_dpad_up.svg"],
img[src="/steaminputglyphs/ps_dpad_up.svg"] {
    content: url("/steaminputglyphs/ps_dpad_up.svg");
}
img[src="/steaminputglyphs/shared_dpad_left.svg"],
img[src="/steaminputglyphs/ps_dpad_left.svg"] {
    content: url("/steaminputglyphs/ps_dpad_left.svg");
}
img[src="/steaminputglyphs/shared_dpad_right.svg"],
img[src="/steaminputglyphs/ps_dpad_right.svg"] {
    content: url("/steaminputglyphs/ps_dpad_right.svg");
}
img[src="/steaminputglyphs/shared_dpad_down.svg"],
img[src="/steaminputglyphs/ps_dpad_down.svg"] {
    content: url("/steaminputglyphs/ps_dpad_down.svg");
}
