:root {
    --controller-image: url("/themes_custom/handheld-controller-glyphs/assets/msi/claw/controller.svg");
    --controller-left-image: url("/themes_custom/handheld-controller-glyphs/assets/msi/claw/controller-left.png");
    --controller-right-image: url("/themes_custom/handheld-controller-glyphs/assets/msi/claw/controller-right.png");

    --button-guide-image: url("/themes_custom/handheld-controller-glyphs/assets/msi/claw/msi-center.svg");
    --button-view-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/view.svg");
    --button-menu-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/menu.svg");
    --button-qam-image: url("/themes_custom/handheld-controller-glyphs/assets/msi/claw/qam.svg");

    --swap-guide-with-image: var(--button-view-image);
    --swap-menu-with-image: var(--button-qam-image);
    --swap-view-with-image: var(--button-guide-image);

    --button-l4-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/m1-left.svg");
    --button-r4-image: url("/themes_custom/handheld-controller-glyphs/assets/shared/m2-right.svg");
}
