:root {
    --legion-view-img-content: url("/themes_custom/handheld-controller-glyphs/assets/legion-go/Legion.svg");
    --legion-guide-img-content: url("/themes_custom/handheld-controller-glyphs/assets/legion-go/Menu.png");
    --legion-menu-img-content: url("/themes_custom/handheld-controller-glyphs/assets/legion-go/QAM.svg");

    --rogally-view-img-content: url("/themes_custom/handheld-controller-glyphs/assets/rog-ally/Command-Center.png");
    --rogally-guide-img-content: url("/themes_custom/handheld-controller-glyphs/assets/rog-ally/Menu.png");
    --rogally-menu-img-content: url("/themes_custom/handheld-controller-glyphs/assets/rog-ally/Armoury-Crate.png");

    --onexplayer-view-img-content: url("/themes_custom/handheld-controller-glyphs/assets/onexplayer/home.svg");
    --onexplayer-guide-img-content: url("/themes_custom/handheld-controller-glyphs/assets/shared/Menu.svg");
    --onexplayer-menu-img-content: url("/themes_custom/handheld-controller-glyphs/assets/onexplayer/keyboard.svg");

    --msiclaw-view-img-content: url("/themes_custom/handheld-controller-glyphs/assets/msi-claw/Claw.png");
    --msiclaw-guide-img-content: url("/themes_custom/handheld-controller-glyphs/assets/msi-claw/View.png");
    --msiclaw-menu-img-content: url("/themes_custom/handheld-controller-glyphs/assets/msi-claw/Menu.png");
}
